# [25 SOSP] Prove It to the Kernel: Precise Extension Analysis via Proof-Guided Abstraction Refinement
Hao sun (ETH Zurich)
- Proof-guided abstraction supplements in-kernel verifier's imprecision.
